<% @users.each do |user| %>
  <section id="user-<%= user.id %>">
    <p> <%= link_to user.name, "/admin/users/#{user.id}" %> </p>
    <p>Registered: <%= user.created_at %></p>
    <p>Authorization Level: <%= user.role %></p>
  </section>
<% end %>
